:root {
    --bg-0: #1c1a1f;
    --bg-1: #363733;
    --text-main: rgba(255, 255, 255, 0.9);
    --text-secondary: rgba(255,255,255, 0.6);
}
* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

html, body, h1, h2, h3, p, ul, ol, li, a, form, input, button, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Inter', 'sans-serif';
    color: var(--text-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body, html {
    overflow-y: overlay;
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.1) transparent;
}

body {
    width: 100%;
    font-size: 16px;
    background: var(--bg-0);
    
}

.reverse-x-scroll-parent {
    transform: rotateX(180deg);
    overflow-x: auto;
}

.reverse-x-scroll-child {
    transform: rotateX(180deg);
}

.cta button {
    font-weight: 600;
    background-color: rgba(255,255,255, .6);
    text-transform: uppercase;
    color: var(--bg-0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta button:hover {
    background-color: rgba(255,255,255, 1);
}

/* hero section */

main {
    position: relative;
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

main .carousel-viewport {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

main .carousel-viewport figure, main .carousel-viewport picture {
    width: 100%;
    height: 100%;
    display: inline-block;
}

main .carousel-viewport img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

main header a h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main header, main header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main header {
    justify-content: space-between;
}

main header nav {
    background: rgba(255,255,255,0.2);
    padding: 1rem 2rem;
    border-radius: 1rem;
}

main header nav ul {
    gap: 1rem;
}

main section.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
}

main section.hero h1 {
    flex: 1;
    max-width: 48rem;
    font-size: 4rem;
    align-content: center;
    text-transform: capitalize;
}

main section.hero .extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section.hero .labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: .5rem;
    width: 24rem;
}

main section.hero .labels span {
    display: inline-block;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 121.059%; /* 1.21056rem */
    text-transform: capitalize;

    border-radius: 1.5rem;
    border: 1px solid #FFF;
    background: rgba(255, 255, 255, 0.30);

    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
}

main section.hero .preview  {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 50vw;
    padding-bottom: 1rem;
}

main section.hero .preview .preview-inner {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

main section.hero .preview figure {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 400px;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
    border: 1px solid #fff;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
}

main section.hero .preview figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main section.hero .preview figcaption h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

main section.hero .preview figcaption p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
}

main section.hero .preview img {
    width: 120px;
    height: 120px;
    border-radius: .5rem;
}

section.about-us {
    margin: 1.5rem;
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "page-number title" "description cta";
    column-gap: 3rem;
    row-gap: 2rem;
}

section.about-us .page-number {
    grid-area: page-number;
}

section.about-us .page-number .section-number {
    color: var(--text-secondary);
}

section.about-us .description {
    grid-area: description;
    max-width: 50%;
    font-size: 1rem;
    color: var(--text-secondary);
    line-height: 1.75rem;
}

section.about-us h2 {
    grid-area: title;
    font-size: 3rem;
}

section.about-us .cta {
    grid-area: cta;
}

