:root {
    --bg-0: #1c1a1f;
    --bg-1: #363733;
    --text-main: rgba(255, 255, 255, 0.75);
    --text-bold: rgba(255, 255, 255, 1);
    --text-secondary: rgba(255,255,255, 0.6);
    --item-background:  rgba(184, 184, 184, 0.1);
    --item-border: rgba(184, 184, 184, 0.5);
}
* {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Inter';
    src: url(assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

html, body, h1, h2, h3, p, ul, ol, li, a, form, input, button, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Inter', 'sans-serif';
    color: var(--text-main);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} 


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body, html {
    overflow-y: overlay;
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.1) transparent;
}

body {
    width: 100%;
    font-size: 16px;
    background: var(--bg-0);
    
}

.reverse-x-scroll-parent {
    transform: rotateX(180deg);
    overflow-x: auto;
}

.reverse-x-scroll-child {
    transform: rotateX(180deg);
}

/* common styles */


.cta button {
    font-weight: 600;
    background-color: rgba(255,255,255, .6);
    text-transform: uppercase;
    color: var(--bg-0);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta button:hover {
    background-color: rgba(255,255,255, 1);
}

footer,
section {
    margin: 1.5rem;
    padding: 2rem;
    border-radius: 1rem;
}

footer .page-number,
section .page-number {
    grid-area: page-number;
}

footer .page-number .section-number,
section .page-number .section-number {
    color: var(--text-secondary);
}

section .description {
    max-width: 50%;
    font-size: 1.15rem;
    color: var(--text-secondary);
    line-height: 1.75rem;
}

section h2 {
    font-size: 3rem;
    font-weight: 400;
    color: var(--text-secondary);
}

strong {
    font-weight: 500;
    color: var(--text-bold)
}

 .labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    gap: .5rem;
    width: 24rem;
    max-width: 100%;
}

 .labels span {
    display: inline-block;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 121.059%; /* 1.21056rem */
    text-transform: capitalize;

    border-radius: 1.5rem;
    border: 1px solid var(--item-border);
    background: var(--item-background);

    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(4px);
}


.logo h1 {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


/* hero section */

main {
    position: relative;
    padding: 2rem;
    margin: 1.5rem;
    border-radius: 1rem;
    overflow: hidden;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
}

main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

main .carousel-viewport {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
}

main .carousel-viewport figure, main .carousel-viewport picture {
    width: 100%;
    height: 100%;
    display: inline-block;
}

main .carousel-viewport img {
    object-fit: cover;
    min-height: 100%;
}

main header, main header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

main header {
    justify-content: space-between;
}

main header nav {
    background: var(--item-background);
    border: 1px solid var(--item-border);
    backdrop-filter: blur(4px);
    padding: 1rem 2rem;
    border-radius: 1rem;
}

main header nav ul {
    gap: 4rem;
}

main header nav ul li:hover a {
    text-decoration: underline;
}


main section.hero {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0;
    margin: 0;
}

main section.hero h1 {
    flex: 1;
    max-width: 48rem;
    font-size: 4rem;
    align-content: center;
    text-transform: capitalize;
    font-weight: 500;
    color: var(--text-bold)
}

main section.hero .extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section.hero .preview  {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 50vw;
    padding-bottom: 1rem;
}

main section.hero .preview .preview-inner {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

main section.hero .preview figure {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 400px;
    gap: 1rem;
    height: calc(100% - .25rem);
    padding: .75rem;
    border: 1px solid var(--item-border);
    border-radius: 1rem;
    background: var(--item-background);
    backdrop-filter: blur(4px);
    cursor: pointer;
    user-select: none;
}

main section.hero .preview figure:hover h2 {
    /* text-decoration: underline; */
    color: var(--text-main);
}

main section.hero .preview figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

main section.hero .preview figcaption h2 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-secondary);
    transition: all 0.3s;
}

main section.hero .preview figcaption p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
}

main section.hero .preview img {
    width: 120px;
    height: 120px;
    border-radius: .5rem;
}

section.about-us {
    margin: 1.5rem;
    padding: 5rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "page-number title" "description cta";
    column-gap: 3rem;
    row-gap: 2rem;
}

section.about-us .page-number {
    grid-area: page-number;
}

section.about-us .description {
    grid-area: description;
}

section.about-us h2 {
    grid-area: title;
}

section.about-us .cta {
    grid-area: cta;
}

section.expertise {
    background:var(--bg-1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 1fr 570px 6rem;
    grid-template-areas: "page-number links" "title links" "showcase showcase" "showcase-nav showcase-nav";
    position: relative;
    row-gap: 2rem;
}

section.expertise .page-number {
    grid-area: page-number;
}

section.expertise h2 {
    grid-area: title;
}

section.expertise .links {
    grid-area: links;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    justify-content: flex-end;
    margin: auto;
    text-transform: capitalize;
}

section.expertise .links a {
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s;
}

section.expertise .links a:hover {
    color: var(--text-main);
}

section.expertise .showcase {
    overflow-x: auto;
}

section.expertise .showcase input[type=radio] {
    display: none;
}

section.expertise .showcase input[type=radio]:checked + label figure figcaption {
    opacity: 1;
}

section.expertise .showcase label {
    cursor: pointer;
    opacity: .75;
    transition: all 0.3s;
}

section.expertise .showcase label:hover {
    opacity: 1;
}

section.expertise .showcase {
    grid-area: showcase;
    margin-left: 25rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-y: hidden;
    height: 560px;
}

section.expertise .showcase img {
    max-width: 800px;
    width: calc(100vw - 32rem);
    height: 542px;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

section.expertise figcaption {
    position: absolute;
    bottom: calc(25% - 4rem);
    left: 2rem;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    width: 23rem;
}

section.expertise figcaption h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom:1rem;
}

section.expertise figcaption p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
}

section.expertise .showcase-nav {
    grid-area: showcase-nav;
    margin-left: 25rem;
    display: grid;
    grid-template-columns: 4rem 4rem;
    grid-template-rows: 4rem 4rem;
    grid-template-areas: "prev next" "all all";
}

section.expertise .showcase-nav button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer;
    opacity: .5;
    transition: opacity 0.3s;
}

section.expertise .showcase-nav button:hover {
    opacity: 1;
}

section.expertise .showcase-nav button:nth-child(1) {
    grid-area: prev;
    border-color: rgba(255,255,255,0.2);
}

section.expertise .showcase-nav button:nth-child(2) {
    grid-area: next;
    background-color: rgba(255,255,255,0.2);
}

section.expertise .showcase-nav a {
    grid-area: all;
    text-decoration: none;
}

section.expertise .showcase-nav a:hover{
    text-decoration: underline;
}

section.work {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr 3fr;
    grid-template-rows: 1fr 2fr 1fr 678px;
    grid-template-areas:
        "page-number . . ."
        "title . description description"
        "title . cta cta"
        "menu-1 menu-2 menu-2 menu-3";
    gap: 2rem;

}

section.work .page-number {
    grid-area: page-number;
}

section.work h2 {
    grid-area: title;
}

section.work .description {
    grid-area: description;
}

section.work .cta {
    grid-area: cta;
}

section.work .menu-1 {
    grid-area: menu-1;
    min-height: 687px;
    background: url(assets/images/menu-1-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.work .menu-1 .labels {
    justify-content: flex-end;
    align-self: flex-end;
}

section.work .menu-1 .description {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section.work .menu-1 .description h3 {
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 100%;
    text-transform: uppercase;
}

section.work .menu-1 .description p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
}

section.work .menu-1 .description button {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

section.work .menu-1 .description button:hover {
    text-decoration: underline;
}

section.work .menu-1 .description button:hover svg {
    animation: horizontal-wave 2s infinite;
}

@keyframes horizontal-wave {
    0%,
    60% {
        transform: translateX(0);
    }

    20%, 
    40% {
		transform: translateX(-4px);
	}

	30%,
	50% {
		transform: translateX(4px);
	}

}

section.work .menu-1 .labels, 
section.work .menu-1 h3, 
section.work .menu-1 p, 
section.work .menu-1 button {
    position: relative;
    z-index: 2;
}

section.work .menu-1::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    z-index: 1;
}

section.work .menu-2 {
    grid-area: menu-2;
    min-height: 687px;
    background: url(assets/images/menu-2-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}


section.work .menu-2 p {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

section.work .menu-2::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    z-index: 1;
}

section.work .menu-2 h3,
section.work .menu-2 button {
    position: relative;
    z-index: 2;
}

section.work .menu-2 h3 {
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 100%;
    text-transform: uppercase;
}

section.work .menu-2  button {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

section.work .menu-2 button:hover {
    text-decoration: underline;
}

section.work .menu-2 button:hover svg {
    animation: horizontal-wave 2s infinite;
}


section.work .menu-3 {
    grid-area: menu-3;
    min-height: 687px;
    background: url(assets/images/menu-3-bg.webp) no-repeat center center;
    background-size: cover;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}


section.work .menu-3::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    z-index: 1;
}

section.work .menu-3 h3,
section.work .menu-3 button {
    position: relative;
    z-index: 2;
}

section.work .menu-3 h3 {
    font-size: 1.5rem;
    font-weight: 700;
    max-width: 100%;
    text-transform: uppercase;
}

section.work .menu-3  button {
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1.5rem;
    border-radius: 1.5rem;
    color: #fff;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
}

section.work .menu-3 button:hover {
    text-decoration: underline;
}

section.work .menu-3 button:hover svg {
    animation: horizontal-wave 2s infinite;
}

section.award {
    display: grid;
    grid-template-columns: 5fr 1fr 4fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "page-number title title" "award-list award-list image";
    position: relative;
    gap: 4rem;
}

section.award .page-number {
    grid-area: page-number;
}

section.award h2 {
    grid-area: title;
}

section.award .awards {
    grid-area: award-list;
}

section.award .awards figure {
    grid-area: image;
}

section.award input[type=radio] {
    display: none;
}

section.award figure {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    transition: opacity ease .5s;
}

section.award figure img {
    border-radius: 1.5rem;
    max-width: 484px;
    width: 100%;
    height: auto;
}

section.award figure figcaption p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-secondary);
    line-height: 1.75rem;
}


section.award input[type=radio]:checked + figure {
    opacity: 1;
}

section.award input[type=radio]:checked ~ label {
    background: var(--bg-1);
}

section.award input[type=radio]:checked ~ label p {
    color: var(--text-main);
}

section.award input[type=radio]:checked ~ label svg path {
    stroke: #333;
}

section.award input[type=radio]:checked ~ label svg {
    background-color: #fff;
    border-color: #333;
}

section.award label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

section.award label:hover p {
    text-decoration: underline;
}

section.award label .text {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

section.award label svg {
    width: 3rem;
    height: 3rem;
    padding: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 50%;
}

section.award label p  {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
}

section.award label h3,
section.award label p {
    color: var(--text-secondary);
}

footer {
    display: flex;
    flex-direction: column;
}

footer .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 0;
}

footer .footer-text h2 {
    font-size: 4rem;
    font-weight: 500;
    text-transform: capitalize;
    max-width: 48rem;
}

footer .footer-text .address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: .5rem;
    color: var(--text-secondary);
}

footer nav, footer nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

footer nav {
    padding: 3rem 0;
    border-top: 1px solid rgba(255,255,255,0.2);
}

footer nav a, footer nav p {
    color: var(--text-secondary);
}

@media screen and (max-width: 768px) { 
    main header nav {
        display: none;
    }

    main .carousel-viewport img {
        width: 100%;
        height: 100%;
        object-position: 20% center;
    }

    main section.hero .preview {
        display: none;
    }

    section.about-us,
    section.work,
    section.expertise,
    section.award,
    footer {
        display: flex;
        flex-direction: column;
    }

    section.expertise .links {
        display: none;
    }

    section.expertise .showcase {
        margin: 0;
    }

    section.expertise figcaption {
        position: relative;
        opacity: 1;
        left: unset;
        bottom: unset;
    }

    section.expertise .showcase {
        height: auto;
    }

    section.expertise .showcase-nav {
        margin:0;
    }

    section.award figure {
        display: none;
    }

    footer .footer-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    footer .footer-text .address {
        align-items: flex-start;
    }

    footer nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px){
    main header nav {
        display: none;
    }

    main .carousel-viewport img {
        width: 100%;
        height: 100%;
        object-position: 20% center;
    }

    main section.hero .preview {
        display: none;
    }

    section.award, section.work, footer {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    section.award ul {
        margin-top: 30rem;
    }

    section.award figure {
        display: block;
        top: 20rem;
        left: 3rem;
        right: unset;
    }

    footer .footer-text {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    footer .footer-text .address {
        align-items: flex-start;
    }
}